.references-modal
{
    .modal-title
    {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    footer
    {
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }
}